@using WebApplication2.Models
@model Review
@{
    ViewBag.Title = "Edit";
}


<h2>@Model.Headings.Heading</h2>
<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))

        {
             @Html.HiddenFor(x => x.EmployeeInfo.Id);
             @Html.HiddenFor(x => x.SalaryInfo.Id);

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                   
                    <label>Username</label>@Html.TextBoxFor(m => m.EmployeeInfo.Name, new { @class = "form-control", required = "required" })
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                   
                    <label>Language</label>@Html.TextBoxFor(m => m.EmployeeInfo.Language, new { @class = "form-control", required = "required" })
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="form-group">
              
                    <label>Country</label>@Html.TextBoxFor(m => m.EmployeeInfo.Country, new { @class = "form-control", required = "required" })
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="City" class="control-label">Country</label>
                        <input asp-for="City" class="form-control" />*@
                    <label>Salary</label>@Html.TextBoxFor(m => m.SalaryInfo.INR, new { @type = "number", @class = "form-control", required = "required" })
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="uploa_btn">

                    <input type="file" name="file" id="file" class="form-control photo-browse" />

                    <span style="cursor:pointer;" class="btn_upload">Upload</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Edit Employee</button>
                </div>

        }
        <div>
            <a href="@Url.Action("Index","Employee")">List</a>
        </div>
    </div>
</div>




